.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.align-center{
  text-align: center;;
}
.align-right{
  text-align: right;
}
.relative{
  position: relative;
}
.pointer{
  cursor: pointer;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input[type=number].number-spin-hidden::-webkit-inner-spin-button,
input[type=number].number-spin-hidden::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}