@import "../variables";

.spread-widget{
    width: 300px;
    margin: 15px 15px 0 0;
    display: block;
}
.spread-widget:first-child{
    margin-left: 0;
}
.spread-widget-body{
    padding: 0.35em;
}
.spread-widget-header{
    color: #ffffff;
    font-weight: bold;
    background-color: $brand-primary-dark;
    padding: 0.7em;
}
.spread-widget-spot-title{
    color: $brand-primary-dark;
    font-size: 0.8em;
}
.spread-widget-spot{
    background-color: $brand-primary-dark;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    padding-right: 0.35em;
    cursor: pointer;
    position: relative;
}
.spread-widget-spot .spread-widget-spot-rise-arrow-up{
    position: absolute;
    top: 0;
    right: 0.1em;
    width: 1.5em;
    height: 1.5em;
    color: #2e7a3e
}
.spread-widget-spot .spread-widget-spot-rise-arrow-down{
    position: absolute;
    bottom: 0;
    right: 0.1em;
    width: 1.5em;
    height: 1.5em;
    color: #c21717
}
.spread-widget-spot p{
    margin: 0;
    font-size: 14px;
}
.spread-widget-spot span{
    font-size: 34px;
    vertical-align: middle;
}
.spread-widget-spread-box{
    color: $brand-primary-dark;
    font-weight: bold;
    font-size: 1.2em;
    background: rgba(255,255,255,0.95);
    padding: 0 5px;
}
.spread-widget-forward-tenors{
    position: relative;
    border-top: 2px solid $brand-primary-dark;
    background-color: rgba(255,255,255,0.5);
}
.spread-widget-tenors-header{
    cursor: pointer;
    position: relative;
    color: $brand-primary-dark;
    font-weight: bold;
}
.spread-widget-tenors-body{
    position: relative;
}
.spread-widget-tenors-body .row{
    padding: 4px 0;
    border-top: 2px solid $brand-primary-dark;
}

.spread-widget-tenors-spot {
    background-color: #ccc;
    color: $brand-primary-dark;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    padding: 1px 8px 1px 5px;
}
.spread-widget-tenors-spot p{
    margin: 0;
    font-size: 12px;
    padding-right: 5px;
}
.spread-widget-tenors-spot span{
    font-size: 20px;
    vertical-align: middle;
}
.spread-widget-tenors-spot .spread-widget-spot-rise-arrow-up{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    color: #2e7a3e;
}
.spread-widget-tenors-spot .spread-widget-spot-rise-arrow-down{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    color: #c21717;
}

.spread-widget-tenors-spred-box {
    padding: 1px;
}
.spread-widget-tenors-spred-box p{
    line-height: 14px;
    font-size: 11px;
    margin: 0;
}
.spread-widget-tenors-spred-box span{
    border: 1px solid gray;
    padding: 0px 2px 1px;
}
.spread-widget-tenors-footer{
    border-top: 2px solid $brand-primary-dark;
    padding: 1px 0;
}

.spread-widget-confirm{
    width: 300px
}
.spread-widget-confirm-title{
    padding: 10px;
    margin: -24px;
    font-size: 18px;
    line-height: 18px;
    background-color: $brand-primary-dark;
    color: #ffffff;
    font-weight: bold;
}
.spread-widget-confirm-actions{
    margin: 10px 0 0;
}
.spread-widget-confirm-timer{
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.spread-widget-confirm-timer-label{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    color: $brand-primary-dark;
    transform: translate(-50%, -50%);
}

.spread-widget-pending{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    zIndex: 1000;
}
.spread-widget-pending-progress{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}